# Nginx Settings
NGINX_PORT_HOST=80
NGINX_PORT_CONTAINER=8080
NGINX_CPU_LIMIT=0.5
NGINX_MEM_LIMIT=256M

# App Settings
APP_PORT=3000
APP_CPU_LIMIT=1.0
APP_MEM_LIMIT=512M

# Database Settings
DB_VERSION=15
DB_HOST=db
DB_PORT=5432
DB_USER=greendev_user
DB_PASSWORD=secret_example_password
DB_NAME=greendev_db
DB_CPU_LIMIT=1.0
DB_MEM_LIMIT=512M
